<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
    <title>Welcome to nginx!</title>
    <style>
        body {
            width: 50em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
    </head>
    <body>
        <h1>Welcome to Imran's Test Server</h1>
        <p>This web page was deployed on {{ deployment_time }} via an Ansible playbook from <a href="https://github.com/imukadam/ec2-nginx">here</a>.</p>
    </body>
</html>